{% extends "home_page/base.html" %}
{% load static %}


{% block content %}
<!-- groups list -->
<section class="home-container">
    {% for group in groups %}
    <div class="group_list">
        <h3><a href="{% url "group_attendance" group.id %}">{{group.name}}</a></h3><br>
        <p>Lorem ipsum dolor, sit amet consectetur</p>
    </div>
    {% endfor %}
    <div class="group_list">
        <h3>{{user.first_name}}</h3><br>
        <p>Lorem ipsum dolor, sit amet consectetur</p>
    </div>
</section>

{% comment %} <!-- Success Notification -->
<div class="success-notification">
    <i class="fas fa-check-circle"></i>
    <span>Siz tizimga muvaffaqiyatli kirdingiz</span>
</div> {% endcomment %}
{% endblock content %}


{% block extra_js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock extra_js %}