{% load static %}
{% block extra_css %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock extra_css %}


<!-- Sidebar -->
<nav class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h3>Attendance System</h3>
    </div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-book-open"></i>
                <span class="nav-text">O'quv reja</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-tasks"></i>
                <span class="nav-text">Qayta o'qish</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-graduation-cap"></i>
                <span class="nav-text">Talaba ma'lumoti</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-heart"></i>
                <span class="nav-text">Moliyaviy to'lov</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-envelope"></i>
                <span class="nav-text">Xabarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-cog"></i>
                <span class="nav-text">Tizim</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-laptop"></i>
                <span class="nav-text">Elektron kutubxona</span>
            </a>
        </li>
    </ul>
</nav>