{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}! You are logged in.</p>
            <div>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none;border:none;color:blue;cursor:pointer;">
                        Log out
                    </button>
                </form>
                | <a href="/admin/">Admin panel</a>
            </div>
        {% else %}
            <p>You are not logged in. <a href="{% url 'login' %}">Log in here</a>.</p>
        {% endif %}
    </header>

    {% block content %}
    {% endblock content %}

    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>


{% comment %} {% for group in groups %}
    <img src="{{student.image.url}}" alt="profile-photo">
    <p>Firstname: {{student.first_name}}</p>
    <p>Lastname: {{student.last_name}}</p>
    <p>LogIn: {{student.login}}</p>
    <p>Group: {{student.group}}</p>
    <p>Email: {{student.email}}</p>
    <p>Pasport raqam: {{student.pasport}}</p>
    <p>Phone: {{student.phone}}</p>
    <p>Password: {{student.password}}</p>
    {% endfor %} {% endcomment %}